@use './colors' as *;
@use './fonts' as *;


.budget{
    position: fixed;
    z-index: 1000;
    inset: 0;
    display: grid;
    place-items: center;
    color: $white;
    background-color: rgba(0 0 0/.9 );
    visibility: hidden;

    &__box{
        background-color: $white;
        margin: 0 auto;
        align-items: center;
        width: clamp(350px, 30vw, 500px);

        &--shake{
            animation: shake .150s ease;

            @keyframes shake {
                0% {
                  transform: translate(3px, 0);
                }
                50% {
                  transform: translate(-3px, 0);
                }
                100% {
                  transform: translate(0, 0);
                }
              }
        }
    }
    
    &__title{
        font-size: 1.2rem;
        width: 100%;
        font-weight: $medium;
        background-color: $black;
        padding: 12px 24px;
    }

    &__row{
        display: flex;
    }

    &__input{
        width: 100%;
        padding: 12px 24px;
        font-size: .9rem;
        background-color: $light-black;
        transition: background-color .2s ease;

        &:focus{
            // background-color: red;
            background-color: #282828;
        }
    }
    
    &__submit{
        color: $white;
        font-size: .7rem;
        cursor: pointer;
        background-color: $blue;
        padding: 12px 24px;
        text-transform: uppercase;
        transition: background-color .2s ease;
        font-weight: $medium;

        &:hover, &:focus{
            background-color: #3651ff;
        }
    }

    &--active{
        animation: show-in .5s ease both;
        animation-delay: .5s;

        @keyframes show-in {
            from{ visibility: hidden; opacity: 0;}
            to{ visibility: visible; opacity: 1;}
        }
    }

    &--hidden{
        animation: show-off .5s ease both;

        @keyframes show-off {
            from{ visibility: visible; opacity: 1;}
            to{ visibility: hidden; opacity: 0;}
        }
    }

}